################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CineComplex/FileContentIndex
/CSVs/credits.csv
/CSVs/creds.csv
/CineComplexDatabase
/obj/Debug/net7.0/CineComplex.AssemblyInfo.cs
/obj/Debug/net7.0/CineComplex.AssemblyInfoInputs.cache
/.vs/CineComplex/DesignTimeBuild/.dtbcache.v2
