################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CineComplex/FileContentIndex
/CSVs/credits.csv
/CSVs/creds.csv
/obj/Debug/net7.0/CineComplex.AssemblyInfo.cs
/obj/Debug/net7.0/CineComplex.AssemblyInfoInputs.cache
/.vs/CineComplex/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/cinecomplex.metadata.v7.bin
/.vs/ProjectEvaluation/cinecomplex.projects.v7.bin
/.vs/CineComplex/v17/DocumentLayout.json
/.vs/CineComplex/v17/.suo
/.vs/CineComplex/v17/.futdcache.v2
/CineComplexDatabase
/bin/Debug/net8.0
/obj/Debug/net8.0/ref
/obj/Debug/net8.0/refint
/obj/Debug/net8.0/CineComplex.dll
/obj/Debug/net8.0/CineComplex.AssemblyInfoInputs.cache
/obj/Debug/net8.0/CineComplex.csproj.AssemblyReference.cache
/obj/Debug/net8.0/CineComplex.assets.cache
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/CineComplex.pdb
/obj/project.nuget.cache
/obj/Debug/net8.0/CineComplex.csproj.CoreCompileInputs.cache
/obj/Release/net8.0/CineComplex.csproj.AssemblyReference.cache
/obj/Release/net8.0/CineComplex.AssemblyInfoInputs.cache
/obj/Release/net8.0/CineComplex.assets.cache
/obj/Release/net8.0/CineComplex.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/CineComplex.AssemblyInfo.cs
/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Release/net8.0/CineComplex.AssemblyInfo.cs
/obj/Release/net8.0/CineComplex.GlobalUsings.g.cs
/obj/CineComplex.csproj.nuget.dgspec.json
/obj/CineComplex.csproj.nuget.g.props
/obj/project.assets.json
