################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CineComplex/FileContentIndex
/CSVs/credits.csv
/CSVs/creds.csv
/CineComplexDatabase
/obj/Debug/net7.0/CineComplex.AssemblyInfo.cs
/obj/Debug/net7.0/CineComplex.AssemblyInfoInputs.cache
/.vs/CineComplex/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/cinecomplex.metadata.v7.bin
/.vs/ProjectEvaluation/cinecomplex.projects.v7.bin
/.vs/CineComplex/v17/DocumentLayout.json
/.vs/CineComplex/v17/.suo
/.vs/CineComplex/v17/.futdcache.v2
